@tailwind base;
@tailwind components;
@tailwind utilities;

/* heading */
.hero{
  min-height: 900px;
}
.payment{
  min-height: 900px;
}
@media screen and ( max-width: 1024px) {
  .hero{
    min-height: none;
  }
  .payment{
    min-height: 900px;
  }
}
/* Inter */
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-Medium.ttf");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-Light.ttf");
    font-weight: 300;
    font-style: normal;
  }
  
  /* Inter */